In [ ]:
import pandas as pd
import numpy as np

In [ ]:
obj = pd.Series([1,2,3,4,5])

In [ ]:
obj

In [ ]:
type(obj)

In [ ]:
arreglo = np.array([15,19, 20, 25, 16, 10])

In [ ]:
serie = pd.Series(arreglo, index=['Juan',
                                  'Maria',
                                  'Pedro',
                                  'Daniela',
                                  'Gustavo',
                                  'Rocio'])

In [ ]:
type(serie)

In [ ]:
serie

In [ ]:
serie.loc['Juan':'Pedro']

In [ ]:
serie.iloc[0:2]

In [ ]:
mascota = ['perro',
           'gato',
           'gato',
           'perro',
           'gato',
           'goldfish']

dueño = ['Rocio',
         'Maria',
         'Pedro',
         'Daniela',
         'Rocio',
         'Gustavo']

In [ ]:
serie = pd.Series(mascota, index=dueño)

In [ ]:
serie

In [ ]:
serie.loc[serie=='perro']

In [ ]:
serie=='perro'

In [ ]:
serie.loc[(serie=='perro') | (serie=='goldfish')]

### Alineamiento de Índices

In [ ]:
s1 = pd.Series([1,2,3], index=['a', 'b', 'c'])

In [ ]:
s1

In [ ]:
s2 = pd.Series([5,6,7], index=['a', 'c', 'd'])

In [ ]:
s2

In [ ]:
s1 + s2

In [ ]:
s1.add(s2)

In [ ]:
s1.add(s2, fill_value=0)

### Dataframes

In [ ]:
nombres = ['Juan', 'Maria', 'Pedro', 'Daniela']

In [ ]:
edad = pd.Series([25,30,35,40], index=nombres)

In [ ]:
estatura = pd.Series([160,165,170, 175], index=nombres)

In [ ]:
sexo = pd.Series(['m', 'f', 'm', 'f'], index=nombres)

In [ ]:
df = pd.DataFrame({'edad': edad,
                   'estatura': estatura,
                   'sexo' : sexo})

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.describe()

In [ ]:
df.loc['Maria']

In [ ]:
df.iloc[0]

In [ ]:
df.loc['Maria', 'edad']

In [ ]:
df.loc[:, 'estatura']

In [ ]:
df.loc[df.loc[:, 'edad']<32]

In [ ]:
df

In [ ]:
df = df.reset_index()

In [ ]:
df

In [ ]:
df = df.rename(columns={'index':'nombre'})

In [ ]:
df

In [ ]:
df.set_index('edad')

In [ ]:
df.nombre

In [ ]:
df.edad

In [ ]:
df.estatura

In [ ]:
df['nombre']

In [ ]:
df['edad']

In [ ]:
df['estatura']

In [ ]:
df['estatura_m'] = df.estatura / 100

In [ ]:
df

In [ ]:
del df['estatura']

In [ ]:
df

In [ ]:
df1 = pd.DataFrame(np.ones((2,2)),
                   index=['a', 'b'],
                   columns=['x','y'])
df1

In [ ]:
df2 = pd.DataFrame(np.ones((2,2)),
                   index=['a', 'c'],
                   columns=['x','z'])
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2)

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
df3 = df1.add(df2, fill_value=0)

In [ ]:
df3

In [ ]:
df3.fillna(0)

In [ ]:
df3.dropna()

In [ ]:
df3

### Abalone

In [ ]:
link = 'https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data'

In [ ]:
df = pd.read_csv(link, header=None)

In [ ]:
df

In [ ]:
pd.get_dummies(df)

In [ ]:
df[1].plot.hist()

In [ ]:
df[1].plot.hist(bins=50)

In [ ]:
df.to_csv('data.csv')

In [ ]:
from pandas.plotting import scatter_matrix

In [ ]:
scatter_matrix(df, alpha=0.2, figsize=(6,6), diagonal='kde')

In [ ]:
df.iloc[:,:-1].boxplot()

In [3]:
import string
len(string.ascii_lowercase)

26

In [4]:
string.ascii_lowercase[25]

'z'

In [5]:
import pandas as pd
import string

def generar_dataframe(M, N):
    # Verificar que N sea menor que 300
    if N >= 300:
        raise ValueError("N debe ser menor que 300.")

    # Generar nombres de columnas
    letras = string.ascii_lowercase
    nombres_columnas = []
    for i in range(N):
        if i < 26:
            nombres_columnas.append(letras[i])
        else:
            letras_base = letras[i % 26]
            letras_extras = letras[i // 26 - 1]
            nombres_columnas.append(letras_extras + letras_base)

    # Generar matriz de unos
    matriz_unos = [[1]*N for _ in range(M)]

    # Crear DataFrame
    df = pd.DataFrame(matriz_unos, columns=nombres_columnas)

    return df

In [8]:
tabla = generar_dataframe(15,56)

In [9]:
tabla

    a  b  c  d  e  f  g  h  i  j  ...  au  av  aw  ax  ay  az  ba  bb  bc  bd
0   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
1   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
2   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
3   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
4   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
5   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
6   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
7   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
8   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
9   1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
10  1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
11  1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
12  1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
13  1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1
14  1  1  1  1  1  1  1  1  1  1  ...   1   1   1   1   1   1   1   1   1   1

[15 rows x 56 columns]

In [11]:
import pandas as pd
import string

def generar_dataframe(M, N):
    # Verificar que N sea menor que 300
    if N >= 300:
        raise ValueError("N debe ser menor que 300.")

    # Generar nombres de columnas
    letras = string.ascii_lowercase + 'ñ'
    nombres_columnas = []
    for i in range(N):
        if i < 27:
            nombres_columnas.append(letras[i])
        else:
            letras_base = letras[i % 27]
            letras_extras = letras[i // 27 - 1]
            nombres_columnas.append(letras_extras + letras_base)

    # Generar matriz de unos
    matriz_unos = [[1]*N for _ in range(M)]

    # Crear DataFrame
    df = pd.DataFrame(matriz_unos, columns=nombres_columnas)

    return df

In [12]:

# Ejemplo de uso con M=5 y N=10
resultado = generar_dataframe(5, 27)
print(resultado)

   a  b  c  d  e  f  g  h  i  j  ...  r  s  t  u  v  w  x  y  z  ñ
0  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
1  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
2  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
3  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
4  1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1

[5 rows x 27 columns]